<script type="text/x-handlebars-template" id="root-login-template">
  <div class="container-signin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Demo twitter login</h2>
      <label for="consumerKey">Consumet Key</label>
      <input type="text" class="input-block-level" name="consumerKey" id="consumerKey" placeholder="Consumer key" value="5ucwBxEoeztEzOOeulDcg">
      <label for="consumerSecretKey">Consumer Secret Key</label>
      <input type="text" class="input-block-level" name="consumerSecretKey" id="consumerSecretKey" placeholder="Access token" value="G2wbMVFrirXJFZoxbeP6JL2A9ZYAz6s32ke1ZX6FEg">
      <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</script>
