<script type="text/x-handlebars-template" id="root-login-template">
  <div class="container-signin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Demo twitter login</h2>
      <input type="text" class="input-block-level" placeholder="Email address Or Twittwer User">
      <input type="password" class="input-block-level" placeholder="Password">
      <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</script>
