<script type="text/x-handlebars-template" id="root-login-template">
  <div class="container-signin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Demo twitter login</h2>
      <label for="consumerKey">Consumet Key</label>
      <input type="text" class="input-block-level" name="consumerKey" id="consumerKey" placeholder="Consumer key" value="5ucwBxEoeztEzOOeulDcg">
      <label for="accessTokenKey">Access Token Key</label>
      <input type="text" class="input-block-level" name="accessTokenKey" id="accessTokenKey" placeholder="Access token" value="177029400-E6O9l7jPikG8XbACisRH6aEeo5Mer5U2ta2f4zlX">
      <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</script>
