@import "variables.less";

body{
  background-color: #F5F5F5;
}

.form-signin{
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;  
  border-radius: 5px;
}

.container-signin{
  padding-top: 80px;
}



